.atm-sidebar-desc {
    font-size: 13px;
    color: #555d66;
    margin-top: -8px;
    margin-bottom: 16px;

    code {
        background: #e0e0e0;
        padding: 2px 4px;
        border-radius: 3px;
        font-size: 12px;
    }
}